models/rjm_doc2vec_30000rows_exp3.model filter=lfs diff=lfs merge=lfs -text
models/rjm_doc2vec_20000rows_exp2.model filter=lfs diff=lfs merge=lfs -text
models/rjm_doc2vec_5000rows_exp1.model filter=lfs diff=lfs merge=lfs -text
